mongoURL=mongodb://tvast:password@0.0.0.0:27017?retryWrites=true&writeConcern=majority
mongoDBName=telegram
redisHost=0.0.0.0
redisPort=6379
telegramToken=2030579238:AAFZ_VboZ463q-3ncnZ4lfQbpAJ9vUtfl0c
telegramWebhook=https://b6e8-110-227-58-47.ngrok.io/telegram/webhook
telegramURL=https://api.telegram.org
becknService=http://localhost:8002
SENTRY_DSN=https://e385-49-37-175-80.ngrok.io/sentry/api/